<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canister Status</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <header class="page-header">
        <h1 class="main-heading">Canister Status</h1>
        <p class="highlight-text">
            Last updated at <span class="highlight">{{last_updated_at}}</span>
        </p><br>
        <p class="highlight-text">
            Last update costed <span class="highlight">{{toNumLocale last_cycles_cost}}</span> cycles
        </p>
    </header>
    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Setting</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>status</td>
                    <td>{{status}}</td>
                </tr>
                <tr>
                    <td>settings.controllers</td>
                    <td>{{controllers}}</td>
                </tr>
                <tr>
                    <td>settings.compute_allocation</td>
                    <td>{{toNumLocale compute_allocation}}</td>
                </tr>
                <tr>
                    <td>settings.memory_allocation</td>
                    <td>{{toNumLocale memory_allocation}}</td>
                </tr>
                <tr>
                    <td>settings.freezing_threshold</td>
                    <td>{{toNumLocale freezing_threshold}}</td>
                </tr>
                <tr>
                    <td>settings.reserved_cycles_limit</td>
                    <td>{{toNumLocale reserved_cycles_limit}}</td>
                </tr>
                <tr>
                    <td>settings.log_visibility</td>
                    <td>{{log_visibility}}</td>
                </tr>
                <tr>
                    <td>settings.wasm_memory_limit</td>
                    <td>{{toNumLocale wasm_memory_limit}}</td>
                </tr>
                <tr>
                    <td>module_hash</td>
                    <td>{{module_hash}}</td>
                </tr>
                <tr>
                    <td>memory_size</td>
                    <td>{{toNumLocale memory_size}}</td>
                </tr>
                <tr>
                    <td>cycles</td>
                    <td>{{toNumLocale cycles}}</td>
                </tr>
                <tr>
                    <td>idle_cycles_burned_per_day</td>
                    <td>{{toNumLocale idle_cycles_burned_per_day}}</td>
                </tr>
                <tr>
                    <td>query_stats.num_calls_total</td>
                    <td>{{toNumLocale query_num_calls_total}}</td>
                </tr>
                <tr>
                    <td>query_stats.num_instructions_total</td>
                    <td>{{toNumLocale query_num_instructions_total}}</td>
                </tr>
                <tr>
                    <td>query_stats.request_payload_bytes_total</td>
                    <td>{{toNumLocale query_request_payload_bytes_total}}</td>
                </tr>
                <tr>
                    <td>query_stats.response_payload_bytes_total</td>
                    <td>{{toNumLocale query_response_payload_bytes_total}}</td>
                </tr>
                <tr>
                    <td>reserved_cycles</td>
                    <td>{{toNumLocale reserved_cycles}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <header class="page-header">
        <h2 class="sub-heading">Canister History</h2>
    </header>

    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                {{#each canister_history}}
                <tr>
                    <td>{{@index}}</td>
                    <td>
                        <pre>{{toJSON this}}</pre>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>

</html>